@tailwind base;
@tailwind components;
@tailwind utilities;

html::-webkit-scrollbar {
  width: 0.7rem;
}

html::-webkit-scrollbar-track {
  background-color: var(--white);
}

html::-webkit-scrollbar-thumb {
  background-color: #8b5cf6;
  /* Hex value of violet-500 */
}
